---
---
.site-cover {
    position: relative;

    blockquote {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 16%;
        color: #F1F1F1;
        z-index: 3;
        font-size: 52px;

        p {
            width: 560px;
            margin: auto;

            text-shadow: 1px 1px 3px #333;
        }
    }

    .open-quote {
        position: absolute;
        line-height: 1;
        font-size: 180px;
        font-family: helvetica;
        text-indent: -124px;
    }

    img {
        -webkit-filter: grayscale(84%);
        filter: grayscale(84%);
    }

}
